@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "_nullstyle";

$section-padding: 60px 0;

body {
    font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: 14px;
    color: #868585;
    line-height: 1.8em;
}
.slider {
    background: url(../img/slider-bg.jpg) center no-repeat;
    padding: 5%;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 1080px;
}
.container {
    margin: 0 auto;
    max-width: 1100px;
}
.slider__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.slider__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.slider__title {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    
}
.slider__subtitle {
    font-size: 1em;
    display: block;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 30px;
}
.button {
    display: block;
    margin: 0 auto;
}
.slider__button {
    margin-bottom: 55px;
}

.button a {
    text-transform: uppercase;
    padding: 13px 35px 15px 35px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    letter-spacing: 1px;
}
.slider__down {
    display: block;
    margin: 0 auto;
    width: 17px;
    height: 10px;
    background: url(../img/down.png) center;
    cursor: pointer;
}
.nav-wrap {
    padding: 22px 0 25px 0;
    border-bottom: 1px solid #eaeaea;
}
.nav {
    display: flex;
    justify-content: center;
}
.nav__link {
    color: #3c3c3c;
    margin: 0 20px 0 20px;
}
.nav__link_active,
a.nav__link:hover {
    color: #ada074;
}
.about {
    padding: $section-padding;
}
.about__wrap {
    margin-bottom: 60px;
}
.about__title {
    margin: 60px 0 80px 0;
}
.title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 2.5em;
    position: relative;
    color:#3c3c3c;
}
.title::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background-color: #3c3c3c;
    bottom: -45px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    z-index: 5;
}
.about__sub-title {
    text-align: center;
    margin: 0 auto;
}
.text-block {
    color:#868585;
    line-height: 2em;
    text-align: center;
    font-weight: 300;
    max-width: 680px;
}
.about__targets {
    display: flex;
}
.target-block {
    text-align: center;
    width: 33.333%;
    margin: 0 30px;
}
.target-block__icon {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0 0 35px 0;
}
.target-block__title {
    color:#3c3c3c;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 4px;
    margin: 0 0 30px 0;
}
.target-block__subtitle {
    margin: 0 0 35px 0;
}

.portfolio {
    padding: $section-padding;
    background-color: #f3f3f3;
}
.portfolio__title {
    margin: 40px 0 80px 0;
}
.gallery {
    margin: 120px 0 60px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.gallery__row {
    margin: 0 -1.3636% 20px -1.3636%;
}
.gallery__block {
    background-color: #eaeaea;
    margin: 0 1.3636%;
    width: 47%;
    height: 350px;
}
.gallery__button {
    display: flex;
    justify-content: center;

    &.button a {
        color: #000;
        border: 1px solid #000;
    }
}

.partners {
    background: url(../img/partners-bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.partners__title {
    text-transform: none;
    font-weight: 300;
    color: #fff;
    padding: 60px 0 10px 0;
}

.partners__title::after {
    display: none;
}
.partners__wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0 80px;
}

.contact__title {
    margin: 120px 0 150px;
}
.contact__row {
}
.contact__form {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.feedback-form {
}
.feedback-form__row {
    
}
.feedback-form__input-block{
    margin: 0 2.5% 75px;
    width: 45%;
}
.feedback-form__heading {
    margin-bottom: 15px;
}
.feedback-form__input {
    background-color: #f8f7f7;
    border-top: 1px solid #000;
    height: 40px;
    padding: 15px;
    font-size: 1.3rem;
    width: 100%;
}
textarea.feedback-form__input {
    height: 130px;
}
.feedback-form__input-block_one {
    width: 100%;
    margin-bottom: 30px;
}
.feedback-form__button {
    background-color: #fff;
    text-transform: uppercase;
}
.right {
    text-align: right;
}

.contact__review {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    .text-block {
        margin-bottom:30px;
    }
}

.text-block_left-black {
    text-align: left;
    color:#3c3c3c;
    font-weight: 400;
}
.icon-wrap {
    display:flex;
    margin-bottom: 20px;
}
.icon-wrap__icon {
    margin-right:7px;
}



a.text-block_left-black:hover {
    text-decoration:underline;
}