@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "nullstyle";
body {
    font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: 14px;
    color: #868585;
    line-height: 1.8em;
}
.slider {
    background: url(../img/slider-bg.jpg) center no-repeat;
    padding: 5%;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: 1080px;
}
.container {
    margin: 0 auto;
    max-width: 1100px;
}
.slider__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.slider__logo {
    display: flex;
    justify-content: center;
}
.slider__title {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}
.slider__subtitle {
    font-size: 1em;
    display: block;
    text-transform: none;
    font-weight: normal;
}
.button {
    display: block;
    margin: 0 auto;
}
.slider__button {
    margin-bottom: 55px;
}

.button a {
    text-transform: uppercase;
    padding: 13px 35px 15px 35px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    letter-spacing: 1px;
}
.slider__down {
    display: block;
    margin: 0 auto;
    width: 17px;
    height: 10px;
    background: url(../img/down.png) center;
    cursor: pointer;
}
.nav-wrap {
}
.top-nav {
}
.top-nav__link {
}
.top-nav__link_active {
}
